{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Our Team</h2><br>
    <div class="row">
 
       <div class="col-md-6 col-sm-6">
          <div class="team-member">
             <div class="team-img">
                <img src="{% static 'img/neha.jpeg' %}" alt="team member" class="img-responsive">
             </div>
             <div class="team-hover">
                <div class="desk">
                   <h4>Hello World!!</h4>
                   <p>I love to introduce myself as a hardcore Web Designer.</p>
                </div>
                <div class="s-link">
                   <a href="#"><i class="fa fa-facebook"></i></a>
                   <a href="#"><i class="fa fa-twitter"></i></a>
                   <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
             </div>
          </div>
          <div class="team-title">
             <h5>Neha</h5>
             <span>Frontend Developer</span>
          </div>
       </div>
       <div class="col-md-6 col-sm-6">
          <div class="team-member">
             <div class="team-img">
                <img src="{% static 'img/nandini.jpg' %}" alt="team member" height="450px" class="img-responsive">
             </div>
             <div class="team-hover">
                <div class="desk">
                   <h4>Hello World!!</h4>
                   <p>I love to introduce myself as a hardcore Backend Developer.</p>
                </div>
                <div class="s-link">
                   <a href="#"><i class="fa fa-facebook"></i></a>
                   <a href="#"><i class="fa fa-twitter"></i></a>
                   <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
             </div>
          </div>
          <div class="team-title">
             <h5>Nandini</h5>
             <span>Backend Developer</span>
          </div>
       </div>
    </div>
 </div><br>

{% endblock %}