{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<br>
<h2>Give Your Feedback</h2>
<div class="container">
  <div class="alert-success alert-dismissible">
<!--      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
{% for message in messages %}
   <strong> {{ message }} </strong>
    {% endfor %}
  </div>

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
</div><br>

{% endblock %}