{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 align="center">Student List</h2>
<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <th>Roll_NO</th>
        <th>Name</th>
        <th>College</th>
        <th>Address</th>
        <th>Gender</th>
        <th>City</th>
        <th>Field</th>
        <th>Semester</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    {% for i in st %}
    <tr>
        <td>{{ i.enroll_no }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.clg_id }}</td>
        <td>{{ i.address }}</td>
        <td>{{ i.gender }}</td>
        <td>{{ i.city }}</td>
        <td>{{ i.field }}</td>
        <td>{{ i.semester }}</td>
        <td><a href="#" class="btn btn-outline-warning">Update</a> </td>
        <td><a href="#" class="btn btn-outline-danger">Delete</a> </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}